body {
    background: linear-gradient(to bottom right, #4894c7, #73c4be);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 150px;
  }
  
  .card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .card-header {
    padding: 2.5rem;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .form-control {
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .btn {
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  
  .form-group.form-check {
    margin-bottom: 20px;
  }
  
  .form-check-input {
    margin-top: 2px;
  }
  
  .form-check-label {
    margin-left: 5px;
  }